/*Initial Setup*/
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #ddd;
}
.container{
    background-color: white;
    margin: 30px auto;
    max-width: 600px;
    padding: 20px;
    text-align: center;
}
h1{
    color:white;
    background-color: darkblue;
    margin-bottom: 20px;
}
input{
    display: block;
    margin:10px;
    padding:10px;
    border: 3px solid burlywood;
    font-size: larger;
    background-color: rgb(240, 208, 166);
}
button{
    padding: 10px;
    width:100px;
    background-color: coral;
    color: white;
    border: none;
    align-content: initial;
}

/*Branching begins now*/